div(class="title") Taggatura
div(ng-show="readingOffline")
    div(class="row offlineError")
        |Questa funzionalità è disponibile solo in modalità online.
div(class="tagItem" ng-show="!readingOffline")
    div( class="inner-addon right-addon")
        i(class="glyphicon glyphicon-search")
        input(type="text" id="tagFilter" placeholder="Cerca tag" ng-model="search.text" class="form-control")
    div(class="tagList")
        div(class="tagListItem" ng-show="search.text != null && search.text !='' " id="tag{{obj.id}}" ng-repeat="obj in $root.ontologyTags | filter:{ text : search.text}")  {{obj.text}}
            i(class="fa fa-plus-square" ng-click="addTagtoFilter(obj)")
    div(class="filterTitle") Filtro applicato
    div(class="filterContent")
        div(class="row")
            div(class="col-md-12" id="listOfFilters")
                div(class="applicatedFilter" ng-repeat="filter in filters") {{filter.text}}
                    i(class="fa fa-times" ng-click="deleteApplicatedFilter(filter)")
    div(class="tagBook" ng-repeat="obj in taggedBooks" style="cursor: pointer" ng-click="goToContent(obj)")
        div(class="titleParagraph") {{obj.subtitle}}
        div(class="titleBook") {{obj.title}}
