header
    nav(class="navbar navbar-default")
        span(style="color:#fff;position:absolute;top:15px;left:250px"  class="yesDisplayPc noDisplayTel noDisplayTablet")
            |{{user.username}}
        div(class="navbar-header")
            button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#headerDesiderata")
                span(class="sr-only")
                    |Toggle navigation
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")
        div(class="fluid collapse navbar-collapse" id="headerDesiderata")
            ul(class="nav navbar-nav")
                li
                    div(class="username yesDisplayTablet yesDisplayTel" style="float:left;color: #fff;width:100%;padding-left:10px; display: none")
                        |{{user.username}}
                li
                    div(class="cartNavbar" ui-sref="cart" ng-show="emptyCart == false")
                        i(class="fa fa-2x fa-shopping-cart")
                li
                    div(class="title")
                        a(ui-sref="help" class="elementInCollapseNavbar") Assistenza
                li
                    div(class="title")
                        a(ui-sref="profile" class="elementInCollapseNavbar") Profilo
                li(id="categoryInMenu")
                    div(class="title")
                        a(ui-sref="collection" class="elementInCollapseNavbar") Catalogo generale
                li
                    div(class="title")
                        a(ui-sref="dashboard" class="elementInCollapseNavbar") La mia libreria
                li
                    div(class="title")
                        a(ui-sref="logout" class="elementInCollapseNavbar") Esci
    div
        div(class="logo noDisplay")
            img(src="img/desiderata-library-logo.png")
div(class="col-md-12 errorInPayment" ng-show="errorInPayment")
        div(style="margin-top: 5px;")
            i(class="fa fa-2x fa-exclamation-circle")
                p
                    |Problemi nell'eseguire la transazione, provare di nuovo
div(class="col-md-12 cartContainer" ng-class="{'noErrorInPayment': errorInPayment == false}")
    div(class="objInCart col-md-6")
        div(id="containerTitleCart" class="col-md-12")
            div(id="titleCart")
                |Carrello
            div(id="elementsInCart")
                |{{elementsInCart}} Elementi
        div(class="singleElementInCart col-md-12" ng-repeat="obj in $root.objInCart")
            div(class="col-md-4")
                div(class="imageSingleObjInCart")
                    img(src="{{obj.cover}}")
            div(class="col-md-8")
                div(class="descriptionSingleObjInCart")
                    div(class="titleSingleObjInCart")
                        |{{obj.title}}
                    div(class="authorSingleObjInCart")
                        |{{obj.author}}
                        i(class="fa" ng-class="{'fa-file-pdf-o': '{{obj.type}}' == 'PublicationPdf', 'fa-book': '{{obj.type}}' == 'Publication' }")
                div(class="priceSingleObjInCart")
                    |EUR {{obj.price}}
                    i(class="fa fa-trash-o" ng-click="deleteFromCart($index)")
        div(class="totalInCart col-md-12")
            div(class="totalPrice")
                |EUR {{totalToPay}}
            div(class="totalTitle")
                |Totale
    div(class="fatturation col-md-6")
        div(id="containerTitleCart" class="col-md-12")
            div(id="titleCart")
                |Dati per la fatturazione
        div(class="containerFatturation")
            .col-xs-12(ng-if='errorFlag')
                .alert.alert-danger
                    strong Attenzione!
                    | {{errorMsg}}.
            .col-xs-12(ng-if='okFlag')
                .alert.alert-success
                    p {{okMsg}}.
            form(id="fatturationForm")
                div(class="col-md-12 containerFormFatturation")
                        div(class="form-group inputRegistration col-md-6")
                            label
                                |Nome *
                            input(type="text" class="form-control" ng-model="billingInfo.firstName")
                        div(class="form-group inputRegistration col-md-6")
                            label
                                |Cognome *
                            input(type="text" class="form-control" ng-model="billingInfo.lastName")
                        div(class="form-group inputRegistration col-md-12")
                            label
                                |Indirizzo *
                            input(type="text" class="form-control" ng-model="billingInfo.address")
                        div(class="form-group inputRegistration col-md-6")
                            label
                                |Email *
                            input(type="email" class="form-control" ng-model="billingInfo.email")
                        div(class="form-group inputRegistration col-md-6")
                            label
                                |Codice Fiscale *
                            input(type="text" class="form-control" ng-model="billingInfo.taxCode")
                        div(class="form-group inputRegistration col-md-6")
                            label
                                |Città *
                            input(type="text" class="form-control" ng-model="billingInfo.city")
                        div(class="form-group inputRegistration col-md-6")
                            label
                                |Provincia *
                            input(type="text" class="form-control" ng-model="billingInfo.province")
                        div(class="form-group inputRegistration col-md-6")
                            label
                                |CAP *
                            input(type="text" class="form-control" ng-model="billingInfo.cap")
                        div(class="form-group inputRegistration col-md-6")
                            label
                                |Paese *
                            select(class="form-control" ng-model="billingInfo.country")
                                <option value=""></option>
                                option(value="Italia")
                                    |Italia
                                option(value="Spagna")
                                    |Spagna
div(class="buttonsCart col-md-12")
    input(class="btn btn-default continueInCart" type="button" value="Continua a fare acquisti" ng-click="goToCollection()")
    input(class="btn btn-default goToCash" type="button" value="Vai alla cassa" ng-click="fatturationSubmit()")
