nav(class="navbar navbar-default noDisplayTablet")
   div(class="fluid")
div
    div(class="logo noDisplayTel noDisplayTablet")
        img(src="img/desiderata-library-logo.png")
div(class="row login noDisplayTablet")
    div(class="loginForm")
        form(ng-submit="recoverSubmit()" novalidate)
            div(class="loginTitle")
                |Recupero Password
            div(class="loginError" ng-if="recoverError")
                |Email non valida. Riprovare.
            div(class="loginError" ng-if="recoverSuccess" style="color: #10a54a")
                    |Ti è stata inviata una mail con i tuoi dati di accesso.
            div(class="inner-addon left-addon user")
                i(class="glyphicon glyphicon-envelope" required)
                input(type="text" class="form-control" placeholder="Email" ng-model="form.email" required autofocus)
            div(class="containerSubmit" id="confirmLogin")
                a(ui-sref="login") Annulla
                input(type="submit" id="submit" value="Conferma")
                
div(class="recoverContainer noDisplayPc yesDisplayTablet yesDisplayTel")
    div(class="textContainer col-sm-6 col-xs-10 col-sm-offset-3 col-xs-offset-1")
        div(class="col-sm-10 col-sm-offset-1 col-xs-12")
            img(src="img/desiderata-library-logo.png")
            div(class="errorMessage" ng-if="recoverError")
                i(class="fa fa-exclamation fa-2x")
                | L'email inserita non è corretta
            div(class="successMessage" ng-if="recoverSuccess")
                i(class="fa fa-check fa-3x")
                p(style="text-align:center")
                    |La nuova password è stata inviata per email
            form(ng-submit="recoverSubmit()" novalidate ng-hide=" recoverSuccess && response")
                div(class="inner-addon left-addon user")
                    i(class="glyphicon glyphicon-envelope")
                    input(type="text" class="form-control" placeholder="Email" ng-model="form.email" required autofocus)
                div(class="containerSubmit" id="confirmLogin")
                    input(type="submit" id="submit" value="Conferma")
                button(class="btn btn-group cancel" ui-sref="login" id="registerNow") Annulla
            button(ng-if="recoverSuccess" class="btn btngroup cancel" ui-sref="login" style="background-color:#ddd !important; color: #000 !important; width:100%; margin-bottom:10px") Torna al login